<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Twitter</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css">
  <style type="text/css">
    body {
      background-color: white;
    }

    /* Left-side bullets and large logo */

    .logo-align {
      margin-top: 5%;
      margin-bottom: 50%;
      margin-left: 85%;
      max-width: 75%;
    }

    .logo-align .logo-info {
      margin-bottom: 40px;
      margin-left: 5px;
      margin-top: 25px;
      font-size: 18px;
      line-height: 20px;
    }

    .logo-align .media {
      margin-top: 35px;
    }

    .logo-align .media img {
      margin-right: 10px;
    }

    /* Login layout */

    .social-login {
      margin-left: 20%;
     

    }

    .social-login a {
      margin-top: 20px;
    }

    .login-alt {
      margin-top: 60px;
      padding-bottom: 30px;
    }

    .login-alt a {
      margin-left: 40%;
     
    }

    .input-group .input-group-addon{
      margin-right: 50%;
      margin-top: 30%
    }

    /* .container form{
      align-items: center;
    } */

  </style>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
  <div class="container visible-xs">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="bi bi-twitter" width="97" height="30" alt="KOAN">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="white" class="bi bi-twitter" viewBox="0 0 16 16">
          <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
        </svg>
      </a>
    </div>
  </div>
  <div class="container ">
    <ul class="nav navbar-nav navbar-right">
      <a type="button" href="https://github.com/soygul/koan" class="btn btn-success navbar-btn"><strong>View on GitHub</strong></a>
    </ul>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="logo-align hidden-md-block">
        <a href="/">
        
          <img src="http://static.dezeen.com/uploads/2012/06/dezeen_twitter-bird.gif" alt="TWITTER"> -->
        <!-- </a>

        <h1 class="logo-info">
        </h1>

        <div class="media"> -->
          <!-- <div class="pull-left">
            <img class="media-object" src="images/koa.png" alt="Koa">
          </div> -->
          <!-- <div class="media-body">
          </div>
        </div>
        <div class="media"> -->
          <!-- <div class="pull-left">
            <img class="media-object" src="images/angularjs.png" alt="AngularJS">
          </div> -->
          <!-- <div class="media-body">
          </div>
        </div>
        <div class="media"> -->
          <!-- <div class="pull-left">
            <img class="media-object" src="images/nodejs.png" alt="Node.js">
          </div> -->
          <!-- <div class="media-body" style="padding-top: 10px;">
          </div>
        </div>
        <div class="media"> -->
          <!-- <div class="pull-left">
            <img class="media-object" src="images/mongodb.png" alt="MongoDB">
          </div> -->
          <!-- <div class="media-body">
          </div>
        </div>
      </div>
    </div>
    </div>  -->
  
    <div class="container">
      <div class="row">

        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" style="background-color: black;">
          <!-- <div class="col-sm-6 col-md-4"> -->
          <!-- <div class="row"> -->
            <div class="row">
            <!-- MAKE THIS CLICKABLE!!?? -->
            <button style="font-size:24px; background-color: black; color: white;"><i class="fa fa-close"></i> </button>
          </div>

          <div class="row" style="margin-left: 44%;">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="50" fill="white" class="bi bi-twitter" viewBox="0 0 16 16">
                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
              </svg>
              
            </div>

          </div>

          
          <div class="row" style="margin-left: 18%;">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-2">
              <h2 style="color: white;">Sign in to Twitter</h2>
            </div>
          </div>
    
          <form action="login" method="post" style="width: 100%;">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <p class="social-login">
              
                  <a class="btn btn-sm btn-social btn-google" style="border-radius: 30px; width: 80%; text-align: center; background-color: white; color: black;" href="login/google">
                    <span class="fa fa-google-plus" style="color: red;"></span>
                    Sign In with Google
                  </a>
    
                  <a class="btn btn-sm btn-social btn-github" style="border-radius: 30px; width: 80%; text-align: center; background-color: white; color: black;;" href="login/github">
                    <span class="fa fa-github"></span> <strong>Sign in with Github</strong>
                  </a>
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <h3 style="text-align: center; color: white; font-size: medium;">or</h3>
              </div>
            </div>
           
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" style="margin-left: 28%; text-align: justify;">
              <!-- <div class="input-group"> -->
                <!-- <span class="input-group-addon">Phone, email, or username</span> -->
                <!-- <div class="col-lg-8 col-lg-offset3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2"> -->
                  <input type="text" class="form-control" style="background-color: black; width: 65%; text-align: center;" placeholder="Phone, email, or username" ng-model="$ctrl.loginObject.login">
                <!-- </div> -->
              </div>
            </div>
    
            
              <div class="row" style="margin-top: 10px; padding-top: 5px; padding-bottom: 10%;">
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                  <!-- <p class="login-alt"> -->
                    <!-- <a> -->
                      <button class="btn btn-md btn-block" style="border-radius: 30px;" ng-click="$ctrl.login()"><strong>Next</strong></button><br>
                    <!-- </a> -->
                    <!-- <a> -->
                      <button class="btn btn-md btn-block" style="color: white; background-color: black; border-color: white; border-radius: 30px;"><strong>Forgot Password?</strong></button>
                    <!-- </a> -->
                  <!-- </p> -->
                </div>

                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" style="margin-top: 30px; color: gray">
                  Don't have an account?
                  <a href="/signup" style="color:deepskyblue"> Sign Up </a>
                  
                  </h5>
                </div>
              </div>

           
              <div class="row">
               
              </div>
            
            
          </form>

        </div>
      </div>
    </div>
    
        
        <!-- <div class="row" style="margin-top: 10px;">
          <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input type="text" class="form-control" ng-model="$ctrl.loginObject.email">
          </div>
        </div>
    
        <div class="row" style="margin-top: 10px;">
          <div class="input-group">
            <span class="input-group-addon">Password</span>
            <input type="password" class="form-control" ng-model="$ctrl.loginObject.password">
          </div>
        </div> -->


        <!-- <div class="checkbox">
          <label>
            <input type="checkbox" id="rememberme" checked> Remember me
          </label>
        </div> -->
        <p class="help-block" style="color: darkred; font-weight: bold;"></p>
        
     
  
  <hr>
  <footer>
    <p>
      KOAN &copy; Teoman Soygul (MIT License)
      &middot; <a href="https://github.com/soygul/koan">GitHub Repo</a>
    </p>
  </footer>
<!-- </div> -->

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script>
  // send form data with AJAX and store the incoming access token before redirecting user to index page
  $('form').submit(function (event) {
    event.preventDefault();
    $.ajax({
      type: 'POST',
      url: '/login',
      data: JSON.stringify({email: $('#email').val(), password: $('#password').val()}),
      contentType: 'application/json',
      dataType: 'json',
      success: function (data) {
        var storage = $("#rememberme").is(':checked') ? window.localStorage : window.sessionStorage;
        storage.token = data.token;
        storage.user = JSON.stringify(data.user);
        window.location.replace('/');
      },
      error: function (res) {
        $('form p.help-block').text(res.responseText);
      }
    });
  });
</script>
</body>
</html>
